/* variables */
$sans-serif: Arial, "Helvetica Neue", Helvetica, sans-serif;
$serif: $sans-serif;
$m-blue-d1: #6ea131;
$m-blue-d3: #88C540;

$header-bg: #24262F;
$footer-bg: #24262F;
$lektorium-header-link-color: white;
$lektorium-footer-link-color: #808080;
$lektorium-footer-heading-color: white;

$header-height: 80px;
$header-slim-height: 60px;

$font-intro-path: '../themes/lektorium/fonts/intro';

@font-face {
  font-family: "intro";
  src: url("#{$font-intro-path}/intro.eot");
  src: url("#{$font-intro-path}/intro.eot?#iefix") format("embedded-opentype"),
  url("#{$font-intro-path}/intro.woff") format("woff"),
  url("#{$font-intro-path}/intro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/***** misc *****/
/* from _base.sass */
.sr {
  @extend %text-sr;
}

/* from _mixins.scss */
%ui-disabled {
  cursor: inherit;
}

/* from course/instructor/_instructor_2.scss */
.instructor-dashboard-wrapper-2 section.idash-section#membership {
  label[for="auto-enroll-beta"]:hover + .auto-enroll-beta-hint {
    width: auto;
    display: inherit;
  }
}

/* from elements/_controls.scss */
%btn-primary {
  text-align: center;

  &:hover, &:active, &:focus {
    background: #6ea121;
  }

  &.current, &.active {
    &:hover, &:active, &:focus {
      background: #6ea121;
    }
  }
}

/* Custom css */
.course-info .date-block {
    text-align: right;
}

.course-info header.course-profile {
    margin-top: 0;
    padding-top: 60px;
    clear: both;
}

/* Feedback modal form */
.feedback_form .tip {
    line-height: 1.5;
}
/* Progress page warning message */
.wrapper-msg.wrapper-auto-cert .auto-cert-message{
    .warning {
        color: rgb(178, 6, 16);
    }

    p+p {
        margin-top: ($baseline/2);
    }
}
