/* variables */
$sans-serif: Arial, "Helvetica Neue", Helvetica, sans-serif;
$serif: $sans-serif;
$m-blue-d1: #6ea131;
$m-blue-d3: #88C540;

$baseline-h: 40px;

$header-bg: #24262F;
$footer-bg: #24262F;
$lektorium-header-link-color: white;
$lektorium-footer-link-color: #808080;
$lektorium-footer-heading-color: white;

$header-height: 80px;
$header-slim-height: 60px;

/***** misc *****/
/* from _base.sass */
.sr {
  @extend %text-sr;
}

/* from _mixins.scss */
%ui-disabled {
  cursor: inherit;
}

/* from course/instructor/_instructor_2.scss */
.instructor-dashboard-wrapper-2 section.idash-section#membership {
  label[for="auto-enroll-beta"]:hover + .auto-enroll-beta-hint {
    width: auto;
    display: inherit;
  }
}

/* from elements/_controls.scss */
%btn-primary {
  text-align: center;

  &:hover, &:active, &:focus {
    background: #6ea121;
  }

  &.current, &.active {
    &:hover, &:active, &:focus {
      background: #6ea121;
    }
  }
}

/* Custom css */
.course-info .date-block {
    text-align: right;
}

.course-info header.course-profile {
    margin-top: 0;
    padding-top: 60px;
    clear: both;
}

/* Feedback modal form */
.feedback_form .tip {
    line-height: 1.5;
}
/* Progress page warning message */
.wrapper-msg.wrapper-auto-cert .auto-cert-message{
    .warning {
        color: rgb(178, 6, 16);
    }

    p+p {
        margin-top: ($baseline/2);
    }
}
/* ORA - from edx-ora2 repo */
.openassessment {
    .openassessment__steps .openassessment__steps__step .step__header {
        .step__title {
            .step__counter, .wrapper--copy {
                display: table-cell;
            }
            .step__counter {
                vertical-align: top;
            }
        }
    }


   .step__title {
        .step__counter, .wrapper--copy {
            display: table-cell;
        }

        .wrapper--copy {
            vertical-align: middle;
        }

        .step__counter {
            vertical-align: top;
          @include padding-right(($baseline-h/2));
        }
    }
}

#openassessment-editor {
  #oa_editor_window_title{
    margin: 0;
    width: 55%;
  }

  #openassessment_editor_header {
    .editor_tabs {
      width: 45%;
      font-size: 75%;
    }
  }
}

/* Problem weird formatting */
.xmodule_display.xmodule_CapaModule div.problem div p.answer:before {
    content: "Ответ: " !important;
}
