<%inherit file="_accomplishment-rendering.html" />
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>

<%block name="main_class"> beta</%block>
<%block name="statement">
                <div class="accomplishment-statement">
                    <div class="accomplishment-type">
                        <span class="accomplishment-type-label hd-4">${_('Professional Beta Tester')}</span>
                    </div>

                    <p class="accomplishment-statement-lead">
                        <strong class="accomplishment-recipient hd-1 emphasized">${accomplishment_copy_name }</strong>

                        <span class="accomplishment-summary copy copy-lead">
                            ${_('Thank you for your assistance in the development of online course {course_name}. We admire you knowledge and attentiveness that has helped our course to get better.').format(
                                course_name = accomplishment_copy_course_name
                            )}
                        </span>

                    </p>
                </div>
</%block>
<%block name="honor_code_disclaimer" />
