## mako
<%page expression_filter="h"/>

<%!
  import datetime
  import pytz
  from django.core.urlresolvers import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<footer class="lek--footer">
  <nav class="lek--wrapper-footer">
    <div class="lek--footer-column">
      <h3>Разделы</h3>
      <ul>
        <li><a href="https://lektorium.tv/mooc">Онлайн-курсы</a></li>
        <li><a href="https://www.lektorium.tv/medialibrary">Медиатека</a></li>
        <li><a href="http://project.lektorium.tv">Спецпроекты</a></li>
        <li><a href="https://www.lektorium.tv/forum">Форум</a></li>
        <li><a href="http://parsec.lektorium.tv/">Конференция Парсек</a></li>
      </ul>
    </div>
    <div class="lek--footer-column">
      <h3>Партнёрам</h3>
      <ul>
        <li><a href="http://project.lektorium.tv/mooc-production">Издательство</a></li>
        <li><a href="https://www.lektorium.tv/video">Видеосъёмка</a></li>
        <li><a href="https://www.lektorium.tv/offline">Обучение сотрудников</a></li>
        <li><a href="http://eduardo.studio/">Платформа Эдуардо</a></li>
        <li><a href="https://www.lektorium.tv/mediagrants">Медиагранты</a></li>
        <li><a href="https://www.lektorium.tv/publish">Публикация</a></li>
        <li><a href="https://www.lektorium.tv/adv">Реклама</a></li>
      </ul>
    </div>
    <div class="lek--footer-column">
      <h3>Инфо</h3>
      <ul>
        <li><a href="https://www.lektorium.tv/about">О Лекториуме</a></li>
        <li><a href="https://www.lektorium.tv/jobs">Вакансии</a></li>
        <li><a href="https://www.lektorium.tv/donate">Поддержать проект</a></li>
        <li><a href="https://www.lektorium.tv/rules">Правовая информация</a></li>
        <li><a href="https://www.lektorium.tv/contacts">Контакты</a></li>
        <li><a href="https://www.lektorium.tv/terms">Оферта</a></li>
        <li><a href="https://www.lektorium.tv/team">Команда</a></li>
        <li><a href="https://www.lektorium.tv/promo-logo">Логотипы</a></li>
      </ul>
    </div>
    <div class="lek--footer-column">
      <h3>Соцсети</h3>
      <ul>
        <li><a href="https://vk.com/openlektorium">ВКонтакте</a></li>
        <li><a href="https://www.facebook.com/groups/Lektorium">Facebook</a></li>
        <li><a href="https://www.youtube.com/user/OpenLektorium">YouTube</a></li>
        <li><a href="https://ok.ru/lektorium">Одноклассники</a></li>
      </ul>
    </div>
    <p class="lek--footer-logo">
      <a href="/">
        <img alt="organization logo" src="${static.url('images/lektorium-logo.png')}">
      </a>
    </p>
    <p class="lek--copyright">© 2009–${ datetime.datetime.now(pytz.timezone(settings.TIME_ZONE)).year } Лекториум</p>
    <p class="lek--footer-about-openedx">
      <a href="https://github.com/lektorium-llc/edx-platform/tree/lektorium">${_('Powered by Open edX')}</a>
    </p>
  </nav>
</footer>
% if settings.FEATURES.get('ENABLE_COOKIE_CONSENT', False):
  <%include file="widgets/cookie-consent.html" />
% endif
